%meta{charset: "UTF-8"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
= partial "includes/meta/og"
%title
  = data.site.title
  &middot;
  = current_page.data.title

%link{href: image_path("/ico/favicon.ico"), rel: "shortcut icon"}
%link{href: image_path("/ico/apple-touch-icon-57x57.png"), rel: "apple-touch-icon", sizes: "57x57"}
%link{href: image_path("/ico/apple-touch-icon-114x114.png"), rel: "apple-touch-icon", sizes: "114x114"}
%link{href: image_path("/ico/apple-touch-icon-72x72.png"), rel: "apple-touch-icon", sizes: "72x72"}
%link{href: image_path("/ico/apple-touch-icon-144x144.png"), rel: "apple-touch-icon", sizes: "144x144"}
%link{href: image_path("/ico/apple-touch-icon-60x60.png"), rel: "apple-touch-icon", sizes: "60x60"}
%link{href: image_path("/ico/apple-touch-icon-120x120.png"), rel: "apple-touch-icon", sizes: "120x120"}
%link{href: image_path("/ico/apple-touch-icon-76x76.png"), rel: "apple-touch-icon", sizes: "76x76"}
%link{href: image_path("/ico/apple-touch-icon-152x152.png"), rel: "apple-touch-icon", sizes: "152x152"}
%link{href: image_path("/ico/apple-touch-icon-180x180.png"), rel: "apple-touch-icon", sizes: "180x180"}
%link{href: image_path("/ico/favicon-192x192.png"), rel: "icon", sizes: "192x192", type: "image/png"}
%link{href: image_path("/ico/favicon-160x160.png"), rel: "icon", sizes: "160x160", type: "image/png"}
%link{href: image_path("/ico/favicon-96x96.png"), rel: "icon", sizes: "96x96", type: "image/png"}
%link{href: image_path("/ico/favicon-16x16.png"), rel: "icon", sizes: "16x16", type: "image/png"}
%link{href: image_path("/ico/favicon-32x32.png"), rel: "icon", sizes: "32x32", type: "image/png"}
%meta{content: "#554488", name: "msapplication-TileColor"}
%meta{content: image_path("/ico/mstile-144x144.png"), name: "msapplication-TileImage"}
%meta{content: image_path("/ico/browserconfig.xml"), name: "msapplication-config"}

%link{rel: "stylesheet", href: "//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600"}
%link{rel: "stylesheet", href: "//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"}
= stylesheet_link_tag :style

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37019925-1', 'auto', {'allowLinker': true});
  ga('require', 'linker');
  ga('linker:autoLink', ['gitlab.com'] );
  ga('send', 'pageview');
